.bg1{
	background:url(../images/box-bg1.jpg);
}

.bg2{
	background:url(../images/box-bg2.jpg);
}

.mr-auto{
	margin:0 auto;
	width:94%;
}

.btn{
	position:relative;
	display:block;
	width:8.6rem;
	height:2rem;
	line-height:2rem;
	font-weight:bold;
	font-size:1rem;
	background:#018867;
	color:#fff;
}

.btn:before{
	position:absolute;
	left:2%;
	top:5%;
	content:" ";
	width:96%;
	height:90%;
	border:1px solid #279a7e;
	box-sizing:border-box;;
}

.tit{
	text-align:center;
}

.tit h3{
	padding-bottom:.4rem;
	font-size:2rem;	
	font-weight:bold;
	color:#018867;
}

.tit span{
	font-size:1rem;
}

.tit .line-txt{
	margin:0 auto;
	width:86%;
	overflow:hidden;
	font-size:.8rem;
	color:#666;
}

.tit i{
	float:left;
	display:block;
	margin-top:.6rem;
	width:5%;
	height:1px;
	background:#e1e1de;
}

.line-txt p{
	display:block;
	float:left;
	width:90%;
}

.content{
	overflow:hidden;
	width:100%;
}

.content .nav{
	padding:1.1rem 0 2rem;
	overflow:hidden;
}

.content .nav form{
	position:relative;
}

.content .nav .input-text{
	display:block;
	padding:0 12% 0 4%;
	margin:0 auto;
	width:78%;
	height:3rem;
	line-height:3rem;
	font-size:1.3rem;
	background:#dfe1d6;
	border-radius:4px;
	color:#babcaf;
}

.content .nav .search{
	position:absolute;
	top:.6rem;
	right:1.4rem;
	display:block;
	width:1.8rem;
	height:2.6rem;
	background:url(../images/nav-search.png) no-repeat;
	background-size:100%;	
}

.content .nav .menu{
	padding-top:2.6rem;
	margin:0 auto;
	width:94%;
	height:16.6rem;
}

.nav .menu a{
	display:block;
	float:left;
	margin:0 10% .6rem 0;	
	width:26%;
	text-align:center;
	font-size:1rem;
	line-height:2rem;
}

.nav .menu a:nth-child(3n){
	margin-right:0;	
}

.nav .menu img{
	display:block;
	width:100%;
}

.content .base{
	overflow:hidden;
	padding-top:2.4rem;
	background:#efebe0;
}

.content .base .slide{
	position:relative;
	margin-top:1.4rem;
	width:100%;
	height:20rem;
}

.base .swiper2 .swiper-slide{
	width:100%;
	height:20rem;
}

.base .swiper2 img{
	display:block;
	width:100%;
	height:100%;
}

.content .base .shadow-txt{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:2rem;
	text-align:center;
	font-size:1.2rem;
	line-height:2rem;
	color:#fff;
	background:rgba(0,0,0,.5);
	z-index:99;
}

.content .base .swiper3{
	position:absolute;
	left:15%;
	bottom:.6rem;
	width:70%;
	height:5rem;
	z-index:99;
}

.base .swiper3 .swiper-slide{
	width:100%;
	height:5rem;
	box-sizing:border-box;
	border:2px solid #018867;
}

.base .swiper3 .swiper-slide-active{
	border:2px solid #fff;
}

.base .swiper3 img{
	width:100%;
	height:100%;
}

.base .btn{
	position:absolute;
	bottom:2rem;
	display:block;
	width:2.2rem;
	height:2.2rem;
	z-index:99;
	background:none;
}

.base .btnl{
	left:1.2rem;
}

.base .btnr{
	right:1.2rem;
}

.content .product{
	padding:2rem 0;
}

.product .list{
	margin-top:1rem;
	width:100%;
	height:5rem;
}

.product .list li{
	float:left;
	width:25%;
	height:5rem;
	border:1px solid #dbdcd7;
	border-left:none;
	box-sizing:border-box;
	font-size:1rem;
}

.product .list .active{
	color:#018867;
}

.product .list li:last-child{
	border-right:none;
}

.product .list img{
	display:block;
	margin:.4rem auto .2rem;
}

.product .list-cont{
	position:relative;
	margin-top:2rem;
	height:18rem;
}

.product .list-cont li{
	position:absolute;
	top:0;
	left:0;
	display:none;
	width:100%;
	height:18rem;
}

.product .list-cont .show{
	display:block;	
}

.left-img{
	float:left;
	display:block;
	width:50%;
	height:18rem;
}

.product li dl{
	float:left;
	width:50%;
	height:14.6rem;
	text-align:left;
}

.product li dt{
	font-size:1.6rem;
	color:#018867;
}

.product li dd{
	margin-top:.4rem;
	font-size:1rem;
	color:#666;
	line-height:1.6rem;
}

.product li strong{
	font-size:1.2rem;
	color:#000;
}

.product li a{
	float:left;
}

.content .advantage{
	padding:2rem 0 0;
	width:100%;
	height:28rem;
	background:url(../images/advantage-bg.jpg) no-repeat;
	background-size:100% 100%;
}

.advantage .tit h3{
	font-size:1.4rem;
	color:#fff;
}

.advantage .tit span{
	color:#fff;
}

.advantage .cont{
	position:relative;
	margin-top:1rem;
	height:21rem;
	background:url(../images/advantage-ican.png) no-repeat top center;
	background-size:9% 80%;
}

.advantage .cont div{
	position:absolute;
	width:36%;
	height:4.4rem;
}

.advantage .cont div:nth-of-type(2){
	right:0;
	top:3.4rem;
}

.advantage .cont div:nth-of-type(3){
	left:0;
	top:6.8rem;
}

.advantage .cont div:nth-of-type(4){
	right:0;
	top:10.6rem;
}

.advantage .cont div:nth-of-type(5){
	left:0;
	top:14.2rem;
}

.advantage .cont strong{
	display:block;
	font-size:1rem;
	color:#fff;
}

.advantage .cont span{
	display:block;
	font-size:.8rem;
	color:#fff;
}


.advantage .cont .box-l{
	padding:.2rem 4% .2rem 2%;
	text-align:right;
	background:url(../images/advantage-txtbg1.png) no-repeat;
	background-size:100% 100%;
}

.advantage .cont .box-r{
	padding:.2rem 2% .2rem 4%;
	text-align:left;
	background:url(../images/advantage-txtbg2.png) no-repeat;
	background-size:100% 100%;
}

.advantage .btn{
	position:absolute;
	right:1rem;
	bottom:2.4rem;
	text-align:center;
	color:#018867;
	background:#fff;
}

.advantage .btn:before{
	border-color:#d9ede8;
}

.content .future{
	overflow:hidden;
	padding:2rem 0;
}

.future .tit h3{
	color:#000;	
}

.future .tit span{
	font-size:1.4rem;	
}

.future .menu{
	position:relative;
	margin-top:1rem;
	height:4.4rem;
}

.future .menu li{
	position:relative;
	float:left;
	width:25%;
	height:3rem;
	font-size:1.2rem;
	font-weight:bold;
	text-align:center;
	line-height:3rem;
	color:#666;
	border-bottom:2px solid #d8d8d8;
}

.future .menu li:after{
	position:absolute;
	bottom:-.6rem;
	left:40%;
	display:block;
	content:"";
	width:1rem;
	height:1rem;
	background:url(../images/future-ican2.png) no-repeat;
	background-size:100% 100%;
}


.future .menu .active{
	color:#018867;
}

.future .menu .active:after{
	background:url(../images/future-ican1.png) no-repeat;
	background-size:100% 100%;
}

.future .cont{
	position:relative;
	overflow:hidden;
	height: 19rem;
}

.future .cont li{
	position:absolute;
	top:0;
	left:0;
	display:none;
	width:100%;
	height:19rem;
}

.future .cont .show{
	display:block;
}

.future .cont img{
	display:block;
	width:100%;
	height:15rem;
}

.future .cont .txt{
	width:100%;
	height:3.6rem;
	background:#fff;
}

.future .txt p{
	float:left;
	overflow: hidden;
	padding:.4rem 4%;
	width:76%;
	height:2.4rem;
	font-size:1rem;
	color:#666;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.future .txt a{
	float:left;
	width:16%;
	height:3.6rem;
	background:url(../images/future-btnbg.jpg) no-repeat;
	background-size:100% 100%;
}

.content .stage{
	padding:2rem 0;
	overflow:hidden;
}

.stage .tit h3{
	color:#000;	
}


.stage .menu{
	margin:1rem auto 0;
	width:96%;
	height:6rem;
}

.stage .menu li{
	float:left;
	width:25%;
	height:6rem;
	text-align:center;
	color:#fff;	
	font-size:1.2rem;
}

.stage .menu li:nth-of-type(1){
	background:#018867;
}

.stage .menu li:nth-of-type(2){
	background:#089976;
}

.stage .menu li:nth-of-type(3){
	background:#08ab84;
}

.stage .menu li:nth-of-type(4){
	background:#05bd91;
}

.stage .menu img{
	display:block;
	margin:.7rem auto 0;
	height:3rem;
}

.stage .cont{
	position:relative;
	margin-top:1rem;
	overflow:hidden;
	height:27rem;
}

.stage .cont .show{
	display:block;
}

.stage .cont li{
	position:absolute;
	top:0;
	left:0;
	display:none;
}

.stage .cont img{
	display:block;
	width:100%;
	height:16rem;
}

.stage .cont h4{
	font-size:2.8rem;
	color:#018867;
	font-weight:700;
}

.stage .cont h4>span{
	font-weight:400;
}

.stage .cont strong{
	float:left;
	display:block;
	font-size:1.6rem;
}

.stage .cont strong:before{
	float:left;
	display:block;
	content:"";
	margin:1rem 1rem 0 0;
	width:2rem;
	height:4px;
	background:#018867;
}

.stage .cont dl{
	clear:both;
	padding-top:.4rem;
	overflow:hidden;
}

.stage .cont dd{
	font-size:1rem;	
	line-height:1.6rem;
	color:#666;
}

.content .caselist{
	overflow:hidden;
	padding:2rem 0 3rem;
	background:url(../images/caselist-bg.jpg);
}

.caselist h3{
	color:#fff;
}

.caselist .tit .line-txt{
	width:40%;
}

.caselist .tit i{
	width:20%;
	background:rgba(255, 255, 255, .5);
}

.caselist .tit p{
	width:60%;
	color:#fff;
}

.caselist .slide{
	position:relative;
}

.caselist .bttton{
	position:absolute;
	top:5rem;
	width:2.4rem;
	z-index:99;
}

.caselist .btn-l{
	left:1rem;
}

.caselist .btn-r{
	right:1rem;
}

.caselist .swiper4{
	margin-top:1rem;
	height:15rem;
}

.caselist .swiper4 .swiper-slide{
	width:100%;
	height:15rem;
}

.caselist .swiper4 img{
	display:block;
	width:100%;
	height:100%;
}

.caselist .list-txt{
	padding:.2rem 4%;
	width:86%;
	height:5rem;
	background:#fff;
}

.caselist .list-txt li{
	display:none;	
}

.caselist .list-txt .show{
	display:block;
}

.caselist .list-txt h5{
	font-size:1.6rem;
}

.caselist .list-txt p{
	color:#666;
}

.caselist .list-txt a{
	color:#018867;
}

.content .teacher{
	overflow:hidden;
	padding:2rem 0;
}

.teacher h3{
	color:#000;
}

.teacher .swiper5{
	margin-top:1rem;
}

.teacher .swiper5 .box{
	position:relative;
	height:13rem;
}

.teacher .box img{
	display:block;
	float:left;
	width:40%;
	height:13rem;
}

.teacher .box dl{
	float:right;
	width:56%;	
	
}

.teacher .box .name{
	font-size:1.4rem;
	color:#018867;
}

.teacher .box .identity{
	font-size:1.2rem;
}

.teacher .box dd{
	font-size:1rem;
	color:#666;
}

.teacher .box dd:nth-of-type(1){
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow:hidden;
}

.teacher .box dd:nth-of-type(2){
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow:hidden;
}

.teacher .box .btn{
	position:absolute;
	bottom:0;
	left:40%;
	margin:.3rem 0 0 4%;
	text-align:center;
}

.teacher .paging{
	margin:1rem auto 0;
	width:60%;
	height:2rem;
}

.teacher .paging li{
	float:left;
	margin-right:7%;
	width:13%;
	height:2rem;
	background:#018867;
	font-size:1rem;
	text-align:center;
	line-height:2rem;
	color:#fff;
	border-radius:1rem;
}

.teacher .paging .active{
	background:none;
	border:2px solid #018867;
	box-sizing:border-box;
	color:#018867;
	line-height:1.8rem;
}


.teacher .paging li:last-child{
	margin-right:0;
}

.content .about{
	padding:2rem 0;
	width:100%;
	height:23rem;
	background:url(../images/about-bg.jpg) no-repeat;
	background-size:100% 100%;
	color:#fff;
}

.content .about h3{
	color:#fff;	
}


.about .line{
	display:block;
	margin:1rem auto;
	width:10%;
	height:3px;
	background:#fff;
}

.about p{
	margin:0 auto;
	width:92%;
	line-height:2rem;
}

.about .btn{
	margin:2rem auto 0;
	text-align:center;
	background:#fff;
	color:#018867;
}

.about .btn:before{
	border-color:#d9ede8;	
}

.content .certificate{
	padding:2rem 0;
	overflow:hidden;
}

.certificate .line-txt{
	width:30%;
}

.certificate .line-txt i{
	width:20%
}

.certificate .line-txt p{
	width:60%
}

.certificate .cont{
	position:relative;
}

.certificate .swiper6{
	margin-top:1rem;
	width:60%;
	height:18rem;
}

.certificate .box{
	padding:.4rem 0;
	width:100%;
	height:18rem;
	background:#eeeadf;
}

.certificate .box img{
	margin:0 auto;
	display:block;
	width:94%;
	height:12rem;
}

.certificate .box strong{
	margin:0 auto;
	display:block;
	width:90%;
	font-size:1rem;
	font-weight:400;
	line-height:2.6rem;
	border-bottom:1px solid #fff;
}

.certificate .box span{
	margin:0 auto;
	display:block;
	width:90%;
	font-size:.9rem;
	line-height:2rem;
}

.certificate .cont .button{
	position:absolute;
	top:5rem;
	width:3rem;
	height:6rem;
}

.certificate .cont .btn-l{
	left:0;
}


.certificate .cont .btn-r{
	right:0;
}

.content .message{
	padding:2rem 0;
}

.message h3{
	color:#000;
}

.message .line-txt{
	width:30%;
}

.message .line-txt i{
	width:15%
}

.message .line-txt p{
	width:70%
}

.message .tab{
	overflow:hidden;
	display:block;
	margin:1rem auto 0;
	width:86%;
}

.message .tab .box{
	margin-bottom:.8rem;
	padding:0 4%;
	width:92%;
	height:3rem;
	background:#f9f7f3;
	border-radius:.6rem;
	color:#888;
	font-size:1.2rem;
	line-height:3rem;
} 

.message .box input{
	outline:none;
	background:none;
	width:80%;
	font-size:1.2rem;
	color:#000;
	-moz-appearance:textfield;  
}

.message .tab .txt{
	position:relative;
	overflow:hidden;
	height:10rem;
}

.message .txt span{
	display:block;
	padding:.4rem 4% 0;
	width:96%;
	height:2rem;
	color:#888;
	line-height:1.6rem;
	font-size:1.2rem;
	border-radius:.6rem .6rem 0 0;
	background:#f9f7f3;
}


.message .tab textarea{
	display:block;
	padding:0 4%;
	width:92%;
	height:7rem;
	border-radius:0 0 .6rem .6rem;
	background:#f9f7f3;
	color:#000;
	line-height:1.6rem;
	font-size:1.2rem;
	resize:none;
}

.message .button{
	margin:1rem 0;
	width:100%;
}

.message .button .btn{
	width:46%;
	height:2.6rem;
	line-height:2.6rem;
}


.message .button input:nth-of-type(1){
	float:left;
	
}

.message .button input:nth-of-type(2){
	float:right;
	background:#616161;
}

.content .news{
	overflow:hidden;
	padding:1rem 0 2rem;
	background:url(../images/caselist-bg.jpg);
	color:#fff;
}

.news .menu{
	height:3rem;
	border-bottom:1px solid #fff;
}

.news .menu li{
	float:left;
	margin-right:20%;
	width:20%;
	height:3rem;
	font-size:1.2rem;
	text-align:center;
	line-height:3rem;
}

.news .menu li:last-child{
	margin-right:0;
}

.news .menu .active{
	border-bottom:3px solid #fff;
	box-sizing:border-box;
}

.news .list{
	margin-top:1.6rem;
	overflow:hidden;
	color:#fff;
}

.news .list li{
	margin-bottom:.4rem;
	width:100%;
	height:6rem;
}

.news .list a{
	color:#fff;	
}

.news .list img{
	float:left;
	width:36%;
	height:6rem;
	display:block;
}

.news .list .txt{
	float:right;
	width:60%;
	height:6rem;
}

.news .txt strong{
	font-size:1.1rem;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
	overflow:hidden;
}

.news .txt p{
	padding-top:.4rem;
	font-size:.79rem;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	overflow:hidden;
}

.news .txt a{
	color:#fff;
}

.news .swiper7 .btn{
	width:100%;
	height:2.6rem;
	background:#fff;
	color:#018867;
	text-align:center;
	line-height:2.6rem;
	font-size:1.2rem;
}

.news .swiper7 .btn:before{
	left:1%;
	top:10%;
	width:98%;
	height:80%;
}

.btn:before{
	position:absolute;
	left:2%;
	top:5%;
	content:" ";
	width:96%;
	height:90%;
	border:1px solid #279a7e;
	box-sizing:border-box;;
}
