.cont-bg{
	width:100%;
	background:url(../images/cont-bg.jpg);
}

.exhibition .list .mr-0,
.exhibition .stage .mr-0{
	margin-right:0;
}

.content{
	width:100%;
	min-width:1200px;
}


.content .searc-cont{
	width:100%;
	height:79px;
	border-bottom:1px solid #cccecd;
}

.content .searc-cont strong{
	font-size:16px;
	line-height:80px;
	color:#000;
}

.searc-cont strong a{
	margin-right:6px;
	font-weight:400;
	color:#666664;
}

.searc-cont .searc{
	float:right;
	width:272px;
	height:24px;
}

.searc-cont .text{
	float:left;
	margin-top:20px;
	width:250px;
	height:30px;
	border:none;
	background:none;
	border-bottom:1px solid #028867;
	color:#028867;
	font-size:16px;
	line-height:30px;
	outline:none;
}


.searc-cont .submit{
	float:left;
	margin-top:30px;
	width:20px;
	height:20px;
	border:none;
	background:url(../images/searc-btn.jpg) no-repeat;
}

.aboutus{
	position:relative;
	margin:100px auto 0;
	padding-bottom:100px;
	width:1064px;
	height:562px;
}

.aboutus .tit{
	position:absolute;
	left:0;
	top:0;
}

.aboutus .btn{
	position:absolute;
	right:0;
	top:0;
}

.aboutus .show-img{
	position:absolute;
	right:40px;
	top:40px;
}

.aboutus .border{
	position:absolute;
	left:0;
	bottom:142px;
	width:201px;
	height:293px;
	border:3px solid #028867;
}

.aboutus .text-box{
	position:absolute;
	left:14px;
	top:102px;
	width:750px;
	height:404px;
}

.aboutus .text-box .fl-img{
	float:left;
	display:block;
	width:218px;
	height:404px;
}

.aboutus .text-box .text{
	float:left;
	padding:70px 42px 0;
	width:448px;
	height:334px;
	background:#efebdf;
}

.aboutus .text h3{
	font-size:16px;
	text-align:center;
	color:#000;
}

.aboutus .text i{
	display:block;
	margin:30px auto 24px;
	width:24px;
	height:2px;
	background:#000;
}

.aboutus .text p{
	display:block;
	overflow:hidden;
	width:448px;
	height:220px;
	font-size:14px;
	line-height:28px;
	color:#656563;
	word-wrap:break-word;
}

.base{
	position:relative;
	overflow:hidden;
	width:100%;
	height:842px;
	min-width:1200px;
}

.base .tit{
	padding-top:75px;
	text-align:center;
	font-size:22px;
	color:#333;
	letter-spacing:4px;
}

.base .tit h3{
	font-size:36px;
	color:#028867;
	line-height:60px;
}

.slick2{
	width:100%;
	height:650px;
	margin-top:30px;
	z-index:99;
}

.slick2 .slick-slide{
	height:650px;
}

.base .sm-slide{
	position:relative;
	margin:-130px auto 0;
	width:785px;
	height:94px;
}

.slick3{
	margin:0 auto;
	width:700px;
	height:94px;
	z-index:999;
}

.slick3 .slick-slide{
	margin-right:20px;
}

.slick3 img,.slick2 img{
	width:100%;
	height:100%;
}

.slick3 .slick-slide{
	height:88px;
	border:2px solid #028867;
}

.base .btn-l,.base .btn-r{
	position:absolute;
	bottom:30px;
	z-index:999;
	cursor:pointer;
}

.base .btn-l{
	left:-16px;
}

.base .btn-r{
	right:0;
}

.base .shadow{
	position:absolute;
	top:192px;
	left:0;
	width:100%;
	height:48px;
	background:rgba(0,0,0,.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
	text-align:center;
	color:#fff;
	z-index:999;
	line-height:48px;
	font-size:16px;
	
}

.content .exhibition{
	height:865px;
}

.content .exhibition h3{
	margin:100px 0 30px;
	text-align:center;
	font-size:38px;
	color:#028867;
}

.content .exhibition .list{
	margin:0 auto;
	width:924px;
	height:106px;
}

.exhibition .list li{
	float:left;
	margin-right:15px;
	width:170px;
	height:104px;
	border:1px solid #dcdcd8;
	text-align:center;
	color:#000;
	font-size:16px;
	cursor:pointer;
}

.exhibition .list img{
	display:block;
	margin:16px auto 12px;
}

.exhibition .list .active{
	color:#028867;
}

.exhibition .cont{
	margin:60px auto 0;
	width:1200px;
	height:624px;
}

.exhibition .cont li{
	display:none;
}

.exhibition .cont .show{
	display:block;
}

.exhibition .cont .show-img{
	float:left;
	margin-left:8px;
	width:426px;
	height:624px;
}

.exhibition .cont .text{
	float:left;
	margin:42px 0 0 42px;
	width:682px;
	height:514px;
}

.exhibition .stage img{
	display:block;
}

.exhibition .stage div{
	float:left;
	width:126px;
	height:166px;
	margin-right:146px;
	text-align:center;
	color:#000;
	font-size:16px;
	line-height:30px;
}

.exhibition .stage .line{
	width:580px;
	height:24px;
	margin:0 auto;
}

.exhibition .text dl{
	margin-top:52px;
	width:650px;
	overflow:hidden;
}

.exhibition .text dt{
	margin:10px 30px 0 0;
	float:left;
}

.exhibition .text dd{
	width:600px;
	float:left;
	font-size:14px;
	line-height:32px;
}

.exhibition .text strong{
	color:#000;
}

.exhibition .btns{
	margin:68px 0 0 40px;
	width:440px;
	height:50px;
	line-height:50px;
}

.exhibition .btns a{
	display:block;
	width:210px;
	height:46px;
	border:2px solid #028867;
	text-align:center;
	font-size:16px;
}

.exhibition .btns .style1{
	float:left;
	background:#fff;
	color:#000;
}

.exhibition .btns .style2{
	float:right;
	background:#028867;
	color:#fff;
}

.content .industry{
	padding-top:100px;
	width:100%;
	height:720px;
	background:url(../images/industry-bg.jpg) no-repeat;
}

.content .industry .cont{
	margin:0 auto;
	width:1060px;
	height:650px;
	color:#fff;
}

.industry .cont .tit{
	text-align:center;
}

.industry .tit span{
	font-size:26px;
}

.industry .tit h3{
	font-size:38px;
	line-height:72px;
}

.industry .tit .order{
	margin:0 auto;
	width:460px;
	padding:0 4px;
	font-size:18px;
}

.industry .order span{
	float:left;
	display:block;
	padding:0 20px;
}

.industry .tit i{
	float:left;
	display:block;
	margin-top:16px;
	width:38px;
	height:1px;
	background:#5eb49f;
}