.exhibition .list .mr-0,
.exhibition .stage .mr-0,
.industry .show-box .mr-0,
.project ul .mr-0{
	margin:0;
}

.content{
	width:100%;
	min-width:1200px;
	overflow:hidden;
}


.content .searc-cont{
	width:100%;
	height:79px;
	border-bottom:1px solid #cccecd;
}

.content .searc-cont strong{
	font-size:16px;
	line-height:80px;
	color:#000;
}

.searc-cont strong a{
	margin-right:6px;
	font-weight:400;
	color:#666664;
}

.searc-cont .searc{
	float:right;
	width:272px;
	height:24px;
}

.searc-cont .text{
	float:left;
	margin-top:20px;
	width:250px;
	height:30px;
	border:none;
	background:none;
	border-bottom:1px solid #028867;
	color:#028867;
	font-size:16px;
	line-height:30px;
	outline:none;
}


.searc-cont .submit{
	float:left;
	margin-top:30px;
	width:20px;
	height:20px;
	border:none;
	background:url(../images/searc-btn.jpg) no-repeat;
}

.content .aboutus{
	position:relative;
	margin:100px auto 0;
	padding-bottom:100px;
	width:1064px;
	height:562px;
}

.aboutus .tit{
	position:absolute;
	left:0;
	top:0;
}

.aboutus .btn{
	position:absolute;
	right:0;
	top:0;
}

.aboutus .show-img{
	position:absolute;
	right:40px;
	top:40px;
}

.aboutus .border{
	position:absolute;
	left:0;
	bottom:142px;
	width:201px;
	height:293px;
	border:3px solid #028867;
}

.aboutus .text-box{
	position:absolute;
	left:14px;
	top:102px;
	width:750px;
	height:404px;
}

.aboutus .text-box .fl-img{
	float:left;
	display:block;
	width:218px;
	height:404px;
}

.aboutus .text-box .text{
	float:left;
	padding:70px 42px 0;
	width:448px;
	height:334px;
	background:#efebdf;
}

.aboutus .text h3{
	font-size:16px;
	text-align:center;
	color:#000;
}

.aboutus .text i{
	display:block;
	margin:30px auto 24px;
	width:24px;
	height:2px;
	background:#000;
}

.aboutus .text p{
	display:block;
	overflow:hidden;
	width:448px;
	height:220px;
	font-size:14px;
	line-height:28px;
	color:#656563;
	word-wrap:break-word;
}

.base{
	position:relative;
	overflow:hidden;
	width:100%;
	height:842px;
	min-width:1200px;
}

.base .tit{
	padding-top:75px;
	text-align:center;
	font-size:22px;
	color:#333;
	letter-spacing:4px;
}

.base .tit h3{
	font-size:36px;
	color:#028867;
	line-height:60px;
}

.slick2{
	width:100%;
	height:650px;
	margin-top:30px;
	z-index:99;
}

.slick2 .slick-slide{
	height:650px;
}

.base .sm-slide{
	position:relative;
	margin:-130px auto 0;
	width:785px;
	height:94px;
}

.slick3{
	margin:0 auto;
	width:700px;
	height:94px;
	z-index:999;
}

.slick3 .slick-slide{
	margin-right:20px;
}

.slick3 img,.slick2 img{
	width:100%;
	height:100%;
}

.slick3 .slick-slide{
	height:88px;
	border:2px solid #028867;
}

.slick3 .slick-current{
	border:2px solid #fff;
}

.base .btn-l,.base .btn-r{
	position:absolute;
	bottom:30px;
	z-index:999;
	cursor:pointer;
}

.base .btn-l{
	left:-16px;
}

.base .btn-r{
	right:0;
}

.base .shadow{
	position:absolute;
	top:192px;
	left:0;
	width:100%;
	height:48px;
	background:rgba(0,0,0,.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
	text-align:center;
	color:#fff;
	z-index:999;
	line-height:48px;
	font-size:16px;
	
}

.content .exhibition{
	height:865px;
}

.content .exhibition h3{
	margin:100px 0 30px;
	text-align:center;
	font-size:38px;
	color:#028867;
}

.content .exhibition .list{
	margin:0 auto;
	width:924px;
	height:106px;
}

.exhibition .list li{
	float:left;
	margin-right:15px;
	width:170px;
	height:104px;
	border:1px solid #dcdcd8;
	text-align:center;
	color:#000;
	font-size:16px;
	cursor:pointer;
}

.exhibition .list img{
	display:block;
	margin:16px auto 12px;
}

.exhibition .list .active{
	color:#028867;
}

.exhibition .cont{
	margin:60px auto 0;
	width:1200px;
	height:624px;
}

.exhibition .cont li{
	display:none;
}

.exhibition .cont .show{
	display:block;
}

.exhibition .cont .show-img{
	float:left;
	margin-left:8px;
	width:426px;
	height:624px;
}

.exhibition .cont .text{
	float:left;
	margin:42px 0 0 42px;
	width:682px;
	height:514px;
}

.exhibition .stage img{
	display:block;
}

.exhibition .stage div{
	float:left;
	width:126px;
	height:166px;
	margin-right:146px;
	text-align:center;
	color:#000;
	font-size:16px;
	line-height:30px;
}

.exhibition .stage .line{
	width:580px;
	height:24px;
	margin:0 auto;
}

.exhibition .text dl{
	margin-top:52px;
	width:650px;
	overflow:hidden;
}

.exhibition .text dt{
	margin:10px 30px 0 0;
	float:left;
}

.exhibition .text dd{
	width:600px;
	float:left;
	font-size:14px;
	line-height:32px;
}

.exhibition .text strong{
	color:#000;
}

.exhibition .btns{
	margin:68px 0 0 40px;
	width:440px;
	height:50px;
	line-height:50px;
}

.exhibition .btns a,.teacher .text a{
	display:block;
	width:210px;
	height:46px;
	border:2px solid #028867;
	text-align:center;
	font-size:16px;
}

.exhibition .btns .style1,.teacher .text .style1{
	float:left;
	background:#fff;
	color:#000;
}

.exhibition .btns .style2,.teacher .text .style2{
	float:right;
	background:#028867;
	color:#fff;
}

.content .industry{
	padding-top:100px;
	width:100%;
	height:720px;
	background:url(../images/industry-bg.jpg) no-repeat;
}

.content .industry .cont,.project .cont{
	margin:0 auto;
	width:1060px;
	height:650px;
	color:#fff;
}

.industry .cont .tit{
	text-align:center;
	overflow:hidden;
}

.industry .tit span,
.project .tit span,
.caselist .tit span{
	font-size:26px;
}

.industry .tit h3,
.project .tit h3,
.advantage .tit h3,
.caselist .tit h3,
.certificate .tit h3,
.news .tit h3{
	font-size:38px;
	line-height:72px;
}

.industry .tit .order,
.project .tit .order,
.advantage .tit .order,
.caselist .tit .order,
.certificate .tit .order,
.news .tit .order{
	overflow:hidden;
	margin:0 auto;
	width:460px;
	padding:0 4px;
	font-size:18px;
}

.industry .order span,
.project .order span,
.advantage .order span,
.caselist .order span,
.certificate .tit span,
.news .tit span{
	float:left;
	display:block;
	padding:0 20px;
}

.industry .tit i,
.project .tit i,
.advantage .tit i,
.caselist .tit i,
.certificate .tit i,
.news .tit i{
	float:left;
	display:block;
	margin-top:16px;
	width:38px;
	height:1px;
	background:#5eb49f;
}

.industry .show-box{
	padding-top:30px;
	overflow:hidden;
}


.industry .show-box .show-img{
	float:right;
	width:590px;
	height:504px;
}

.industry .show-box ul{
	float:left;
	margin-top:30px;
	width:420px;
	height:444px;
}

.industry .show-box li{
	height:84px;
}


.industry .show-box img{
	float:left;
	display:block;
	margin:20px 20px 0 20px;
}

.industry .show-box p{
	float:left;
	padding:14px 0 0 20px;
	font-size:16px;
	color:#b9d3c9;
}

.industry .show-box strong{
	line-height:30px;
	font-size:18px;
	color:#fff;
}

.content .project{
	width:100%;
	height:820px;
}

.project .cont{
	padding-top:90px;
	width:1200px;
	color:#000;
	text-align:center;
}

.project .tit h3,.project .tit span{
	letter-spacing:4px;
}

.project .order span{
	color:#999;
	letter-spacing:0px;
}

.project .order i{
	background:#999;
}

.project ul{
	margin-top:50px;
	width:1200px;
	height:460px;
}

.project li{
	position:relative;
	float:left;	
	margin-right:10px;
	width:292px;
	height:460px;
	
}

.project li img{
	width:100%;
	height:100%;
}

.project ul .active .white-box{
	display:none;
}

.project ul .active .black-box{
	display:block;
}

.project li .white-box{
	display:block;
	position:absolute;
	left:0;
	top:170px;
	width:292px;
	height:120px;
	background:rgba(255,255,255,.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff);
}

.project .white-box strong,.project .black-box strong{
	display:block;
	padding:42px 0 4px 0;
	font-size:20px;
}

.project .white-box p,.project .black-box span{
	font-size:14px;
	color:#999;
}

.project li .black-box{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:292px;
	height:460px;
	color:#fff;
	background:rgba(0,0,0,.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
}

.project .black-box strong{
	padding-top:80px;
}

.project .black-box p{
	margin:40px auto 0;
	width:216px;
	overflow:hidden;
	font-size:14px;
	line-height:32px;
	color:#fff;
}

.content .advantage{
	position:relative;
	width:100%;
	height:1110px;
}

.advantage .juejin{
	position:absolute;
	left:46%;
	top:-46px;
	width:93px;
	height:93px;
	background:url(../images/advantage-juejin.png) no-repeat;
	text-align:center;
	font-size:14px;
	line-height:100px;
	color:#fff;
}

.advantage .cont .tit{
	padding-top:142px;;
	text-align:center;
}

.advantage .cont h3{
	color:#000;
}

.advantage .tit i{
	margin-top:12px;
	background:#999;
}

.advantage .list-menu{
	margin:54px auto 0;
	width:1200px;
	height:124px;
}

.advantage .list-menu .bg1{
	background:#018867;
}

.advantage .list-menu .bg2{
	background:#089976;
}

.advantage .list-menu .bg3{
	background:#08ab84;
}

.advantage .list-menu .bg4{
	background:#05bd91;
}

.advantage .list-menu li{
	float:left;
	width:300px;
	height:124px;
	font-size:22px;
	color:#fff;
	text-align:center;
	cursor:pointer;
}

.advantage .list-menu img{
	display:block;
	margin:24px auto 10px;
}

.advantage .list-box{
	position:relative;
	margin:60px auto 0;
	width:1200px;
	height:556px;
}

.advantage .list-box .box{
	position:absolute;
	left:0;
	top:0;
	width:1200px;
	overflow:hidden;
	display:none;
}

.advantage .list-box .show{
	display:block;
}

.advantage .list-box h3{
	font-size:72px;
	line-height:72px;
	color:#018867;
}

.advantage .list-box span{
	font-weight:400;
}

.advantage .list-box strong{
	display:block;
	padding-top:20px;
	font-size:38px;
	line-height:46px;;
	color:#000;
}


.advantage .list-box i{
	float:left;
	display:block;
	margin:21px 16px 0 0;
	width:40px;
	height:4px;
	background:#018867;
}

.advantage .list-box dl{
	overflow:hidden;
	margin-top:20px;
}

.advantage .list-box dd{
	font-size:16px;
	line-height:34px;
	color:#666;
}

.advantage .list-box .text{
	float:left;
	width:546px;
	height:556px;
}
.advantage .list-box .show-img{
	float:right;
	width:652px;
	height:556px;
}

.advantage .list-box .bg-ican{
	position:absolute;
	left:0;
	top:438px;
	width:466px;
	height:80px;
	border-bottom:40px solid #018867;
}

.advantage .bg-ican i{
	display:block;
	margin:0;
	margin-bottom:6px;
	width:100%;
	height:4px;
	background:#f1f1f1;
}

.content .caselist{
	width:100%;
	height:824px;
	background:url(../images/caselist-bg.jpg);
}

.caselist .tit{
	padding-top:104px;
	text-align:center;
	color:#fff;
}

.caselist .tit .order{
	width:248px;
}

.caselist .cont{
	position:relative;
	margin:56px auto 0;
	width:1200px;
	height:486px;
}

.caselist .shadow-bg{
	position:absolute;
	top:84px;
	left:-44px;
}

.caselist .slide{
	position:relative;
	width:1018px;
	height:486px;
	overflow:hidden;
}

.caselist .slide div{
	position:absolute;
	left:0;
	top:64px;
	z-index:2;
	width:360px;
	height:304px;
}
	
.caselist .slide .active{
	position:absolute;
	left:208px;
	top:0;
	width:810px;
	height:486px;
	z-index:3;
}

.caselist .slide img{
	width:100%;
	height:100%;
}

.caselist .btn-bg{
	position:absolute;
	top:260px;
	left:140px;
	width:184px;
	height:84px;
	background:url(../images/caselist-btn.jpg) no-repeat;
	z-index:99;
}

.caselist .btn-bg div{
	float:left;
	width:92px;
	height:84px;
	cursor:pointer;
}

.caselist .text{
	position:absolute;
	top:84px;
	right:0;
	width:234px;
	height:356px;
	background:#fff;
	z-index:99;
}

.caselist .text .show{
	display:block;
}

.caselist .text li{
	display:none;
	width:234px;
	height:356px;
}

.caselist .text strong{
	display:block;
	margin:0 auto;
	width:200px;
	padding:78px 0 22px 0;
	text-align:center;
	font-size:20px;
	color:#000;
	overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.caselist .text p{
	margin:0 auto;
	width:168px;
	font-size:16px;
	line-height:28px;
	color:#333;	
}

.caselist .text a{
	display:block;
	margin:20px 0 0 28px;
	font-size:16px;
	color:#018867;
}

.content .teacher{
	width:100%;
	height:800px;
}

.teacher .tit{
	text-align:center;
	color:#000;
}

.teacher .tit h3{
	padding:100px 0 22px 0;
	font-size:38px;
}

.teacher .tit p{
	font-size:18px;
}

.teacher .cont{
	margin:40px auto 0;
	width:1200px;
	height:570px;
}

.teacher .cont .show-box{
	position:relative;
	float:left;
	width:826px;
	height:570px;
}

.teacher .show-box li{
	display:none;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
	width:824px;
}

.teacher .show-box .show{
	display:block;
	overflow:hidden;
	height:570px;
}

.teacher .show-box .text{
	position:absolute;
	left:0;
	top:83px;
	width:510px;
	height:430px;
}

.teacher .text img{
	float:left;
	margin:0 40px 0 0;	
}

.teacher .text dl{
	float:left;
	overflow:hidden;
	height:370px;
}

.teacher .text dt{
	padding-bottom:22px;
	font-weight:700;
	font-size:14px;
	color:#000;
}

.teacher .text dd{
	padding-bottom:22px;
	font-size:14px;
}

.teacher .text .btns{
	padding-top:20px;
	width:450px;
}

.teacher .text a{
	
	line-height:50px;	
}

.teacher .text .style1{
	background:none;
}

.teacher .show-box .teacher-img{
	float:right;
	height:570px;
}

.teacher .cont .click-box{
	float:right;
	margin-top:30px;
	width:348px;
	height:540px;
}

.teacher .click-box li{
	padding:30px 0;
	width:348px;
	height:120px;
	background:#f7f5f0;
	cursor:pointer;
}

.teacher .click-box img{
	margin:0 20px 0 38px;
	display:block;
	float:left;
}

.teacher .click-box p{
	float:left;
	margin-top:10px;
	width:140px;
	font-size:14px;
	color:#666;
	line-height:24px;
}

.teacher .click-box strong{
	font-size:20px;
	color:#000;
}

.teacher .click-box  .active{
	background:#018867;
}

.teacher .active p,.teacher .active strong{
	color:#fff;
}

.content .group{
	width:100%;
	height:654px;
	background:url(../images/group-bg.jpg) no-repeat;
	text-align:center;
	color:#aaa;
}

.group h3{
	padding:170px 0 20px;
	font-size:38px;
	color:#fff;
}

.group span{
	font-size:24px;
}

.group i{
	display:block;
	margin:30px auto 16px;
	width:30px;
	height:3px;
	background:#fff;
}

.group p{
	margin:0 auto;
	width:1024px;
	font-size:14px;
	line-height:32px;
}

.group a{
	display:block;
	margin:30px auto 0;
	width:192px;
	height:48px;
	border:1px solid #515050;
	font-size:16px;
	line-height:50px;
	color:#aaa;
	letter-spacing:4px;
}

.content .certificate{
	width:100%;
	height:750px;
}


.certificate .tit{
	text-align:center;
	color:#000;
}

.certificate .tit h3{
	padding-top:100px;
}

.certificate .tit .order{
	width: 180px;
}

.certificate .tit span{
	color:#999;
}

.certificate .tit i{
	background:#e1e1de;
}

.certificate .cont{
	position:relative;
	margin:30px auto 0;
	width:1200px;
	height:432px;
}

.pos-box{
	position:relative;
	width:1200px;
	height:432px;
	overflow:hidden;
}

.certificate .cont .slide{
	position:absolute;
	left:0;
	top:0;
	height:432px;
}

.certificate .slide .box{
	float:left;
	margin-right:30px;
	width:380px;
	height:430px;
	background:#eeeadf;
	text-align:left;
	overflow:hidden;
}

.certificate .box img{
	display:block;
	margin:10px auto 0;
	width:360px;
	height:290px;
}

.certificate .box p{
	padding-left:20px;
	font-size:16px;
	line-height: 60px;
}

.certificate .box i{
	display:block;
	margin:0 0 0 20px;
	width:310px;
	height:1px;
	background:none;
	border-bottom:2px dotted #fff;
}


.certificate .box span{
	font-size:12px;
	line-height:46px;
}

.certificate .slide .active{
	background:#018867;
	color:#fff;
}

.certificate  .active span{
	color:#fff;
}

.certificate .btn-l{
	position:absolute;
	left:-100px;
	top:160px;
	cursor:pointer;
}

.certificate .btn-r{
	position:absolute;
	right:-100px;
	top:160px;
	cursor:pointer;
}

.content .news{
	width:100%;
	height:888px;
	border-bottom:2px solid #747474;
}

.news .tit{
	text-align:center;
}

.news .tit h3{
	padding-top:90px;
	color:#000;
}

.news .tit .order{
	width:170px;	
}

.news .tit i{
	margin-top:12px;
	background:#dbd8d1;
}

.news .cont{
	margin:44px auto 0;
	width:1200px;
	height:600px;
}

.news .cont .left{
	float: left;
	margin-left:8px;
	width:604px;
	height:600px;
}

.news .left .l-top{
	margin-bottom:46px;
	width:604px;	
	height:410px;
}

.news .left .l-top-img{
	position:relative;
	overflow:hidden;
}

.news .l-top-img img{
	display:block;
	width:604px;
	height:260px;	
}

.news .l-top-img .time{
	position:absolute;
	top:0;
	left:0;
	width:88px;
	height:88px;
	background:#018867;
	color:#fff;
	text-align:center;
}

.news .time strong{
	display:block;
	padding-top:4px;
	font-size:44px;
	font-weight:400;
}

.news .time span{
	font-size:14px;
}

.news .l-top .l-top-txt{
	padding-top:32px;
	width:604px;
	height:118px;
}

.news .l-top-txt h4{
	padding-bottom:16PX;
	font-size:16px;
	color:#000;
}

.news .l-top-txt p{
	font-size:14px;
	line-height:26px;
	color:#999;
}

.news .l-top-txt a{
	color:#018867;
}

.news .left .l-bot{
	width:600px;
	height:144px;
}

.news .left .l-bot-l{
	float:left;
	width:150px;
	height:144px;
}

.news .l-bot-l strong{
	font-size:20px;
	line-height:24px;
	color:#000;
}

.news .l-bot-l p{
	padding-bottom:20px;
	font-size:14px;
	line-height:26px;
	color:#999;
}

.news .left .l-bot-r{
	float:left;
	width:450px;
	height:144px;
}

.news .l-bot-r a{
	display:block;
	padding-left:40px;
	width:410px;
	height:34px;
	font-size:14px;
	font-weight:700;
	line-height:34px;
	color:#000;
	border-bottom:2px solid #747474;
	background:url(../images/news-ican2.png) no-repeat center left;
}

.news .l-bot-r a:hover{
	color:#018867;	
}

.news .l-bot-r p{
	overflow:hidden;
	padding:20px 0 0 40px;
	width:410px;
	height:48px;
	font-size: 14px;
	line-height:24px;	
}

.news .cont .right{
	float: right;
	width:530px;
	height:600px;
}

.news .right .r-top{
	overflow:hidden;
	width:530px;
	height:370px;
}

.news .r-top li{
	margin-bottom:40px;
	width:530px;
	height:62px;
}

.news .r-top .triangle{
	position:relative;
	float:left;
	margin-right:12px;
	width:62px;
	height:62px;
}

.news .triangle .t{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:0px; 
    height:0px; 
    border-left:31px solid transparent;  
    border-right:31px solid transparent; 
    border-bottom:31px solid #d9d2c0;  
   	font-size:0px; 
    line-height:0px;
    margin: 0 auto;
    z-index:1;
}

.news .triangle .b{
	position:absolute;
	top:31px;
	left:0;
	display:block;
	width:0px; 
    height:0px; 
    border-left:31px solid transparent;  
    border-right:31px solid transparent; 
    border-top:31px solid #d9d2c0;  
   	font-size:0px; 
    line-height:0px;
    margin: 0 auto;
    z-index:1;
}

.news li:hover .t{
	border-bottom:31px solid #018867; 
}

.news li:hover .b{
	border-top:31px solid #018867; 
}

.news li:hover strong{
	color:#018867;
}

.news .triangle em{
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:62px;
	height:62px;
	font-size:14px;
	line-height:62px;
	text-align:center;
	color:#fff;
	z-index:2;
}

.news .r-t-txt{
	float:left;
	width:456px;
	height:62px;
}

.news .r-t-txt strong{
	font-size:16px;
	line-height:26px;
	color:#000;
}

.news .r-t-txt p{
	font-size:14px;
	line-height:26px;
	color:#999;
	white-space:nowrap;
}

.news .r-t-txt a{
	color:#018867;
}

.news .r-bot{
	margin-top:90px;
	width:530px;
	height:92px;
}

.content .news .r-bot .mr-0{
	margin-right:0;
}

.news .r-bot .r-more{
	float:left;
	margin-right:44px;
	display:block;
	width:134px;
	height:92px;
	background:url(../images/news-more.jpg) no-repeat;
	background-size:100% 100%;
}

.news .r-bot .r-txt{
	margin-right:40px;
	float:left;
	width:146px;
	height:92px;
}

.news .r-txt a{
	display:block;
	font-size:12px;
	line-height:22px;
	color:#000;
}

.news .r-txt a:hover{
	color:#018867;	
}

.news .r-txt img{
	margin-top:28px;
	display:block;
	width:19px;
	height:19px;
}

.content .navigation{
	width:100%;
	height:380px;
}

.navigation .cont{
	margin:0 auto;
	padding-top:70px;
	width:1200px;
	height:300px;
}

.navigation .cont h3{
	padding-bottom:12px;
	font-size:24px;
	color:#000;
}

.navigation .cont i{
	margin-bottom:20px;
	display:block;
	width:98px;
	height:2px;
	background:#018867;
}

.navigation .list{
	overflow:hidden;
}

.navigation .list li{
	width:100%;
	height:49px;
	border-bottom:1px dotted #c6c6c6;
	line-height:50px;
	font-size:16px;
	color:#000;
}

.navigation .list a,.navigation .list strong{
	margin-right:16px;
	font-weight:400;
}

.navigation .list a:hover{
	color:#018867;
}
