.bg1{
	background:url(../images/cont-bg.jpg)
}

.bg2{
	background:url(../images/cont-bg2.jpg);
}

.box{
	margin:0 auto;
	width:1200px;
}

.home-nav .bot .mr-0{
	margin-right:0;
}


/*头部样式*/
.header{
	position:relative;
	width:100%;
	height:895px;
}

.home-nav{
	margin:0 auto;
	width:1200px;
	height:200px;
}

.home-nav .head-logo{
	position:relative;	
	float:left;
	width:181px;
	z-index:999;
}

.home-nav .nav-cont{
	float:right;
	width:980px;
	height:200px;
}

.home-nav .nav-cont .top{
	overflow:hidden;
	width:980px;
	height:125px;
	border-bottom:1px solid #cccecd;
}

.home-nav .nav-cont h2{
	float:left;
	font-size:28px;
	font-weight:400;
	line-height:140px;
	letter-spacing:4px;
	color:#000;
}

.home-nav .nav-cont .phone-box{
	float:right;
	margin-top:40px;
	width:230px;
	height:50px;
}

.home-nav .phone-box img{
	float:left;
	margin-top:6px;
}

.home-nav .phone-box span{
	float:right;
	display:block;
	width:182px;
	font-size:18px;
	color:#99999b;
}

.home-nav .phone-box strong{
	float:right;
	font-size:26px;
	color:#028867;
}

.home-nav .bot{
	height:74px;
	color:#535554;
}

.home-nav .bot a{
	float:left;
	display:block;
	margin-right:44px;
	line-height:74px;
	font-size:14px;
}

.home-nav .bot a:hover{
	color:#028867;
}

.home-nav .bot .active{
	color:#028867;
}

.slick1{
	position:absolute;
	left:0;
	top:250;
	width:100%;
	height:694px;
}

.slick1 img{
	width:100%;
	height:694px;
}

/*底部快速导航*/

.footer{
	width:100%;
	overflow:hidden;
	min-width:1200px;
}

.footer .copyright{
	width:100%;
	height:668px;
	background:#018867;
}

.copyright .cont{
	margin:0 auto;
	padding-top:88px;
	width:1200px;
	height:520px;
}

.copyright .cont .top{
	width:100%;
	height:355px;
	border-bottom:1px solid #fff;
}

.copyright .cont .nav{
	float:left;
	width:262px;
	height:355px;
	text-align:left;
}
.copyright .nav span{
	display:block;
	margin:0;
	font-size:14px;
	color:#fff;	
}

.copyright .nav strong{
	display:block;
	font-size:16px;
	color:#fff;
}

.copyright .nav .link1,.copyright .nav .link2{
	float:left;
	padding-top:40px;
	width:130px;
	height:260px;
}

.copyright .nav a{
	display:block;
	font-size:16px;
	line-height:36px;
	color:#a4c9bd;
}

.copyright .nav a:hover{
	color:#fff;
}

.copyright .foot-logo{
	float:left;
	display:block;
	margin:60px 124px 0 70px
}

.copyright .aboutus{
	float:left;
	margin-top:20px;
	width:600px;
	height:250px;
	border:2px solid #fff;
	color:#fff;
}

.copyright .aboutus h4{
	margin:60px 0 30px;
	font-size:16px;
	font-weight:400;
}

.copyright .aboutus strong{
	font-size:24px;
	padding-right:8px;
}

.copyright .aboutus p{
	margin:0 auto;
	width:528px;
	height:100px;
	overflow:hidden;
	font-size:16px;
	text-align:left;
}

.copyright .bot{
	width:100%;
	height:160px
}

.copyright .bot .bot-box{
	margin:50px 90px 0 0;
	float:left;
	overflow:hidden;
	text-align:center;
}

.copyright .bot-box p{
	font-size:14px;
	color:#fff;
}

.copyright .ewm{
	float:right;
	margin-top:20px;
	width:160px;
}

.copyright .ewm img{
	display:block;
	float:left;	
}

.copyright .ewm p{
	float:right;
	width:14px;
	font-size:14px;
	line-height:14px;
	color:#fff;
}

.copyright .shadow-box{
	width:100%;
	height:62px;
	background:rgba(0,0,0,.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
	color:#74988d;
	line-height:62px;
}

.copyright .shadow-box img{
	padding-bottom:8px;
	display:inline-block;
	vertical-align:middle;
}
